@model projectWebKassa.Models.IndexPrijsViewModel
@{
    ViewBag.Title = "PrijsManagmentView";
}

<h2>PrijsManagmentView</h2>

<h4>Verkoop prijs</h4>




<p>@Html.ActionLink("Create new", "create")</p>

<table class="table">
    <tr>
        <th>

        <th>
            BTW
        </th>
        <th></th>
    </tr>

    
</table>